@charset "UTF-8";

/*
Pequenas telas: 600px
Celular: 600px - 768px
Tablet: 768px - 1024px
Laptops: 1024px - 1280px
Desktop: 1280px
*/

@media screen and (min-width:1024px) {

  section#header {
    height: 60px;
    position: relative;
  }

  header {
    height: 60px;
    position: fixed;
    width: 100%;
    background-color: white;

    box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.199);
  }

  header > div#logo {
    float: left;
    height: 60px;
    width: 30%;
  }

  header > div#nav {
    display: none;
  }

  header > div#navdesk {
    float: right;
    width: 70%;
    display: flex;
    justify-content: flex-end;
  }

  ul {
    display: flex;
    height: 60px;
    align-items: center;
    gap: 20px;
    margin-right: 20px;
  }

  li {
    display: inline-block;
  }

  a.button {
    padding: 7px 15px;
    border-radius: 9px;
    transition-duration: 0.6s;
    box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.199);
  }

  main {
    height: 100vh;
  }

  div#img-one {
    float: left;
    margin-right: 20px;
  }

  section {
    min-height: calc(100% - 60px);
  }

  section#hamilton {
    display: flex;
    flex-flow: column nowrap;
  }
  
  section#hamilton > h1 > span {
    color: #16E3E8;
  }

  section#hamilton {
    padding: 10px;
  }
  
  h1 {
    text-align: center;
    font-size: 2em;
  }

  h2 {
    text-align: center;
  }

  section#rodape {
    display: none;
  }

  div#linha {
    display: none;
  }
}